      {{ form_start(form) }}
          <div class="row">
               <div class="col-md-10">
                    {{form_row(form.name)}}
               </div>
               <div class="col-md-2">
                    {{form_row(form.sold)}}
               </div>
          </div>
          <div class="row">
               <div class="col-md-12">
                    {{form_row(form.description)}}
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    {{form_row(form.surface)}}
                    </div>
                    <div class="col-md-3">
                    {{form_row(form.room)}}
                    </div>
                    <div class="col-md-3">
                    {{form_row(form.floor)}}
                    </div>
                    <div class="col-md-3">
                    {{form_row(form.price)}}
               </div>
          </div>

          <div class="row">
               <div class="col-md-4">
                    {{form_row(form.address)}}
                    </div>
                     <div class="col-md-4">
                    {{form_row(form.city)}}
                    </div>
                     <div class="col-md-4">
                    {{form_row(form.postalCode)}}
               </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  {{ form_row(form.imageFile) }}
              </div>
               <div class="col-md-6">
                    {{ form_row(form.options) }}
               </div>
          </div>
          <div class="input-group">
               <button class="btn btn-success" type="submit">Enregistrer</button>

          </div>

               {{ form_end(form) }}
     </div>