<div class="col-md-4">
	<div
		class="card mr-auto mt-3" style="width: 20rem;">
		{% if property.filename %}
			<img src="{{ vich_uploader_asset(property, 'imageFile' )|imagine_filter('thumb') }}" class="card-img-top" alt="">
		{% else %}
			<img src="{{ asset('images/properties/empty.jpg') | imagine_filter('thumb') }}" class="card-img-top" alt="">
		{% endif %}
		<div class="card-body">
			<h5 class="card-title">
				<a href="{{path('property_show', { id: property.id, slug: property.slug }) }}">
					{{ property.name }}
				</a>
			</h5>
			<p class="card-text">
				{{ property.description }}
			</p>
		</div>
		<div class="card-footer">
			<p class="text-small text-right">
				{{ property.price|format_currency('EUR', {fraction_digit: 0 }) }}
			</p>
		</div>
	</div>
</div>
