{% extends "base.html.twig" %}

{% block title property.name %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile' ) | imagine_filter('medium') }}"
                             class="card-img-top" alt="">
                    {% else %}
                        <img src="{{ asset('images/properties/empty.jpg') | imagine_filter('medium') }}"
                             class="card-img-top" alt="">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.name }}</h1>
                    <h2>{{ property.room }} pièces - {{ property.surface }} m²</h2>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ property.price|format_currency('EUR', {fraction_digit: 0}) }}</div>

                    <button id="contactButton" class="btn btn-primary"  type="submit" {% if not form.vars.submitted %} style="display: none" {% endif %}>Contactez-nous</button>
                    <div id="contactForm" class="mt-3" {% if form.vars.submitted %} style="display: none" {% endif %}>
                        {{ form_start(form) }}
                            {{ form_rest(form) }}
                            <button class="btn btn-danger" type="submit">Envoyer</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">

        <p>
            {{ property.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractèristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Chambre</td>
                        <td>{{ property.room }}</td>
                    </tr>
                    <tr>
                        <td>Étage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spècificités</h2>
                <ul class="list-group">
                    {% for option in property.options  %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>


{% endblock %}